
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet2" href="Stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Overview.css">
  <title>GameShop</title>
</head>

<body id="body">

  <div id="wrapper-div">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">GameShop</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', games_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
              <li><%= link_to 'Shopping cart', cart_index_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path,method: :delete %></li>
          <% else %>
              <li><%= link_to 'Shopping cart', cart_index_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>

        </ul>
      </div>
    </nav>

    <h1 class="tabledata"> Your Cart</h1>
    <% sum = 0 %>
    <table>
      <% @cart.each do |id, quantity| %>
          <% game = Game.find(id) %>
          <tr>
            <td><%= image_tag game.image_url, :width => 80 %></td>
            <td class="tabledata" width="250"><%= game.name %></td>
            <td class="tabledata" width="120"><%= quantity %></td>
            <td class="tabledata" width="120"><%= number_to_currency game.price, :unit => "kr" %></td>
            <td class="tabledata" width="120"><%= number_to_currency game.price * quantity, :unit => "kr" %></td>
          </tr>
            <% sum += quantity * game.price %><
      <% end %>
      <tr>
        <td class="tabledata" colspan="4"> Total:</td>
        <td class="tabledata"><%= number_to_currency sum, :unit => "kr" %></td>
      </tr>
    </table>

  </div>

</body>

