<link rel="stylesheet" type="text/css" href="Overview.css">

<h1>Games</h1>


<table>
  <thead>

  </thead>

  <tbody>

    <% @games.each do |game| %>
      <div class="background">
      <tr>
        <td><%= image_tag game.image_url %></td>
        <td>
        <div class="name"><%= game.name %></div>
        <div class="description"><%= game.description %></div>
        <div class="linkShow"><%= link_to 'Show', game %></div>
        <div class="linkEdit"><%= link_to 'Edit', edit_game_path(game) %></div>
        <div class="linkDestroy"><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <td>
          <div class="price"><%= number_to_currency game.price, :unit => "kr" %></div>
        </td>
        </td>
      </tr>
      </div>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
