<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Overview.css">
  <title>GameShop</title>
</head>

<body id="body">
  <div id="wrapper-div">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">GameShop</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Home', games_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
              <li><%= link_to 'Shopping cart', cart_index_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path,method: :delete %></li>
          <% else %>
              <li><%= link_to 'Shopping cart', cart_index_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>

        </ul>
      </div>
    </nav>

    <div id="showgame-box">

      <p id="notice"><%= notice %></p>


      <h1 id="showgame-name"><%= @game.name %></h1>


      <p id="showgame-picture">
        <%= image_tag @game.image_url %>
      </p>

      <p id="showgame-description">
        <strong>Description:</strong>
        <%= @game.description %>
      </p>

      <p id="showgame-price">
        <strong>Price:</strong>
        <%= @game.price %>
      </p>


      <%= link_to 'Edit', edit_game_path(@game) %> |
      <%= link_to 'Back', games_path %>

    </div>


  </div>

</body>
